@import "compass_twitter_bootstrap";


/******************
*** COLORS
*******************/

// Complements (aqua & red)
$comp1-light: #37a5a5;
$comp1-dark: #376e6e;
$comp2-light: #dc3737;
$comp2-dark: #a53737;

// Accents (grey)
$acc-light: #dcdcdc;
$acc-dark: #6e6e6e;
$acc-med: #999999;

// Highlight (yellow)
$high-bright: #fafa37;
$high-pastel: #dcdc6e;

// Crowd Factor (aqua, grey, red)
//$cf-empty: #6edcdc;
//$cf-few: #6ea5a5;
//$cf-average: #a5a5a5;
//$cf-crowded: #a56e6e;
//$cf-packed: #dc6e6e;
//$cf-closed: #111111;
$cf-empty: #b0e5f6;
$cf-few: #7ec8e0;
$cf-average: #4e9cb5;
$cf-crowded: #b30000;
$cf-packed: #ea2626;
$cf-closed: #545454;

// Text
$text-dark: #373737;
$text-light: #fafafa;

// Backgrounds:
$page-color: #f9f9f9;

// NEW
$blue-grey: #111144;
$logo-red: #b30000;
$button-top: #ddddee;
$button-bottom: #bbbbcc;
$button-background: #aaaabb;
$button-transition: #9999aa;
$button-text: $logo-red;
$link: $blue-grey;
$hover-link: $logo-red;
$ad-background: #ddd;
$ad-text: #555;
$ad-hover: $logo-red;

/******************
*** OTHER VARIABLES
*******************/
$page-width: 1040px;
// Border radius for page elements
$page-radius: 10px;
$hr-width: $page-width - $page-radius;

// Responsive
$break-small: 500px;
//$break-large: 1200px;


/******************
*** MIXINS
*******************/

// page width/centering 
@mixin page-container {
  margin: 0 auto;
  width: $page-width;
}

@mixin page-element($pad-vert: 10px, $pad-horz: 0, $allignment: center, $location: null) {
  background-color: $page-color;
  padding: $pad-vert $pad-horz;
  text-align: $allignment;
  //@if $location == top {
  //  border-radius: 0 0 $page-radius $page-radius;
  //}
  //@else {
  //  border-radius: $page-radius;
  //}
}

@mixin ad-element {
  background: $ad-background;
  border-radius: 10px;
  a {
    color: $ad-text;
    &:hover {
      color: $ad-hover;
    }
  }
}

@mixin text-overflow($type: ellipsis) {
  overflow: hidden;
  text-overflow: $type;
  white-space: nowrap;
}

@mixin image-load-control {
  .image-load-control {
    margin-top: -10px;
  
    img {
      border: 1px solid $acc-dark;
      float: right;
      margin: -40px 450px -50px 0;
    }
  }
}

/******************
*** Global 
*******************/

body {
  background-image:url('../images/wavegrid.png');
  background-repeat:repeat;
  color: #373737;
}

// Responsive
@media screen and (max-width: $break-small){
  body {
    background-image: none !important;
  }
  body, html { overflow-x:hidden; }
}

hr {
  border: 1px solid $acc-light;
  margin: 0 auto;
  //width: $hr-width;
  width: $page-width;
}

button, .btn {
  //background-color: $button-background !important;
  //background-image: linear-gradient(to bottom, $comp1-light, $comp1-dark) !important;
  //color: $high-bright !important;
  margin: -10px 0 0 10px;
  text-shadow: none;

  //background-image: -webkit-linear-gradient(top, $comp1-light, $comp1-dark) !important;
  //background-image: -o-linear-gradient(top,$comp1-light, $comp1-dark) !important;
  // looks cool
  //color: $button-text !important;
  //background-image: linear-gradient(to top, $button-bottom, $button-top) !important;
  //background-image: -webkit-linear-gradient(top, $button-bottom, $button-top) !important;
  //background-image: -o-linear-gradient(top, $button-bottom, $button-top) !important;

  //&:hover {
  //  background-image: linear-gradient(to top, $button-bottom, $button-transition) !important;
  //  background-image: -webkit-linear-gradient(top, $button-bottom, $button-transition) !important;
  //  background-image: -o-linear-gradient(top, $button-bottom, $button-transition) !important;
  //}

}

a {
  text-decoration: none;
  color: $link;
  
  &:hover {
    text-decoration: none;
    color: $hover-link;
  }
}

.main-col {
  display: inline-block;
  width: 67%;
}

.side-col {
  display: inline-block;
  float: right;
  margin: 10px auto;
  //padding: 0 5px;
  width: 31%;
}

.emphasize {
  color: $comp2-dark;
}

// Overide span margin left 20px;
[class*="span"] {
  margin: 0 !important;
}

.b4cm-icon {
  height: 50px;
  width: 50px;
}


.google-map {
  img {
    // Need so icons show
    max-width: none;
  }
}

// Food, Social, Study Icons
.type-icon {
  background: black;
  display: inline-block;
  height: 60px;
  width: 60px;
}

.ad-book {
  @include ad-element;
  height: 110px;
  padding: 5px;
  margin-left: 40px;
  text-align: center;
  width: 220px;

  .ad-label {
    float: right;
    margin-top: 0
  }

  .description {
    display: inline-block;
    float: left;
    line-height: 15px;
    margin: 10px 0 0 15px;
    width: 80px;
  }

  img {
    display: inline-block;
    width: 70px;
  }
}

.rating {

  .stars {
    display: inline-block;
  }

  .review-count {
    display: inline-block;
    margin: 0 0 0 5px;
  }
}

.find-spot {
  margin: 0;

  h3 {
    display: inline;
  }

  select {
    //margin: -10px 0 0 10px;
    width: 80px;
  }

  input {
    width: 150px;
  }

  input, select {
    //background-color: $acc-light;
    //border: 1px solid $logo-red;
    color: $blue-grey;
    margin: -10px 0 0 10px;
    text-align: center;
    //width: 150px;
  }
}

textarea:focus,
input[type='text']:focus {
  border-color: $comp1-dark;
}

.none {
  color: $text-dark;
}

.none-square {
  background-color: $text-dark;
  box-shadow: 2px 2px 5px 5px $cf-average inset;
}

.empty {
  color: $cf-empty;
}

.empty-square {
  background-color: $cf-empty;
}

.few {
  color: $cf-few;
}

.few-square {
  background-color: $cf-few;
}

.average {
  //color: $cf-average;
  color: $text-dark;
}

.average-square {
  background-color: $cf-average;

}

.crowded {
  color: $cf-crowded;
}

.crowded-square {
  background-color: $cf-crowded;
}

.packed {
  color: $cf-packed;
}

.packed-square {
  background-color: $cf-packed;

}

.closed {
  closed: $cf-closed;
}

.closed-square {
  background-color: $cf-closed;
}

.empty-square, .few-square, .average-square,
.crowded-square, .packed-square, .closed-square, .none-square {
  border-left: 1px solid #eae8e8;
  border-right: 1px solid #eae8e8;
  border-bottom: 2px solid #eae8e8;
}

// FORMS
.invalid {
  border: 1px solid red !important;
  color: red !important;
}

.container {
  width: $page-width;
}

// Responsive
@media screen and (max-width: $break-small){
  .container {
    width: 100% !important;
  }
}

/******************
*** NAVBAR
*******************/
.navbar {
  //background-color: $acc-dark;
  text-align: center;
}
.navbar-inner {
  @include page-container;
  //background-color: $acc-dark !important;
  //background-image: linear-gradient(to bottom, $acc-dark, #7e7e7e) !important;
  background-color: #ffffff !important;
  background-image: linear-gradient(to bottom, #ffffff, #f9f9f9) !important;
  background-image: -webkit-linear-gradient(top, #ffffff, #f9f9f9) !important;
  background-image: -o-linear-gradient(top, #ffffff, #f9f9f9) !important;
  background-repeat: repeat-x;
  border-bottom: 2px solid $acc-light !important;
  color: $text-dark;
  padding: 0;
  min-height: 68px;

  .logo-icon {
    padding-right: 10px;
    margin-top: 3px;
  }

  .logo-text {

  }

  .brand {
   margin: 0 auto -20px auto;
   padding: 10px 0;
   width: 100%
  }

  .login > ul{
    //margin-top: -15px;
    margin: -30px 0 10px 0;
  }

  .nav > li > a {
    //color: $text-dark;
    color: $blue-grey;
  }

  .nav > li > a:hover {
    color: $cf-few;
  }

  .or {
    margin-top: 9px;
  }

  form {
    margin: 25px 0 -44px 0;
    //width: 70%;

    .btn {
      margin-top: -10px;
    }
  }

  .signout:hover {
    cursor: pointer;
  }

  .search-icon {
    display: none;
    height: 25px;
    width: 25px;
    margin: -5px 0 0 5px;
    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: $break-small){
  .navbar-inner {
    //position: fixed;
    width: 100%;
    height: 60px;
    text-align: center;

    .login {
      display: none;
    }

    form {
      width: 100%
    }

    .brand {
      //width: 100%;
      margin-left: -16px;
      margin-bottom: 10px;
      margin-right: 0;
      padding-right: 0;
    }

    .logo-text {
      display: none;
    }

    .find-spot {
      input {
        width: 130px;
        margin-left: 2px;
      }
      select {
        width: 75px;
        margin-left: 0px;
      }
    }

    .search-icon {
      display: inline-block;
    }

    .search-btn {
      display: none;
    }
  }
}

/******************
*** HEADER
*******************/

// TEMP - try new style
.header {
  @include page-container;
  @include page-element(10px, 0, center, top);
  height: 40px;

  form {
    margin-bottom: -40px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: $page-color;

    .btn {
      margin-top: -10px;
    }
  }

  .signout:hover {
    cursor: pointer;
  }

  .search-icon {
    display: none;
    height: 25px;
    width: 25px;
    margin: -5px 0 0 5px;
    &:hover {
      cursor: pointer;
    }
  }

  .addthis_toolbox {
    float: right;
    padding-top: -2px;
    vertical-align: top;
    width: 200px;
  }
}

/******************
*** FOOTER
*******************/
.footer {
  @include page-container;
  @include page-element;

  li {
    display: inline;
    padding: 0 40px;

    a {
      color: $text-dark;
      font-size: 16px;

      &:hover {
        color: $cf-few;
        text-decoration: none; 
      }
    }
  }
}

@media screen and (max-width: $break-small){
  .footer {
    width: 100% !important;
    //text-align: left;
    li {
     padding: 20px;
    }
  }
}
/******************
*** MAIN PAGE 
*******************/
#main-page {
  min-height: 400px;
  text-align: center;

  .location-info {
    //margin-left: 85px;
    //text-align: left;    
  }

  .location-image {
    border-radius: 5px;
  }

  .location-name {
    color: $text-dark;
    display: inline-block;
    text-align: left;
    margin: 0 0 -5px 5px;
  }

  .location-place {
    color: $acc-dark;
    display: inline-block;
  }

  // Hacky
  .crowd-factor {
    margin: 10px auto !important;

    .timeslot {
      margin-left: -36px;
    }

    .crowd-visuals {
      margin-top: -5px;
    }
  }

  .spots-tagline {
    margin: 0 0 0 200px;
    width: 500px;
  }

  .spot-types {
    @include page-element(10px, 5px, center, top);

    .spots {
      padding: 0 0 0 10px;

      &:hover {
        cursor: pointer;
      }
    }

    .arrow-side {
      height: 50px;
      margin-top: -25px;
      padding: 0 5px 0 5px;
      width: 60px;
    }

    .arrow-center {
      height: 35px;
      width: 10px
    }

    .spot {
      display: inline-block;
      padding: 20px;
      margin: 0 10px;
    }

    .b4cm-icon {
      margin-top: -10px;
    }

    .center {
      display: inline-block;
    }

    h3 {
      display: inline-block;
    }

    .type-blurb {
      text-align: left;

      h4:nth-child(2) {
        margin: -10px 0 0 30px;
      }
    }
  }

  .nearby {
    @include page-element;
  }

  .visualize {
    @include page-element;

    .visualize-tagline {
      margin: 0 auto;
    }

    h3 {
      text-align: center;
      margin-bottom: 20px;
    }

    h3:nth-child(2) {
      //margin: 0 0 0 26%;
    }
  }
}

@media screen and (max-width: $break-small){
  #main-page {

    .spots-tagline {
      display: none;
    }

    .visualize-tagline {
      margin: 10px !important;
    }

    .addthis_toolbox {
      float: none;
      width: 200px;
      margin: 5px auto;
    }

    .nearby {
      display: none;
    }
  }
}

/******************
*** Listings Page / Home Page
*******************/
// TODO: refactor listing info separate from listings page
//       so listings page and home page are separate
#listings-page,
#home-page {
  min-height: 400px;

  .title-bar {
    @include page-element(10px, 10px, left, top);

    .main-col {
      padding-top: 20px;
    }

    .top {
      height: 80px;
      //margin-right: 60px;
      text-align: center;
      margin-right: 40px;
    }

    .b4cm-icon {
      margin-top: -5px;
    }

    .listing-type {
      display: inline-block;
      padding: 0 0 0 20px;
    }

    .listing-location {
      @include text-overflow();
      color: $acc-dark;
      //display: inline-block;
      display: block;
      margin-top: 20px;
      //margin: 0 0 0 30px;
      //width: 350px;
    }

    form {
      margin: 5px 0 0 100px;
    }

    h4 {
      display: inline-block;
    }

    select {
      margin: -10px 0 0 10px;
      width: 80px;
    }

    input {
      margin: -10px 0 0 10px;
      text-align: center;
      width: 150px;
    }

    button {
      margin: -10px 0 0 10px;
    }

    .listing-nums {
      display: inline-block;
      margin: 5px 0 -5px 0;
      width: 300px;
    }

    .add-spot-btn {
      float: right;
      margin: -9px 0 0 0;
    }

  }

  .page {
    @include page-element(10px, 10px, left);
    min-height: 300px;
  }
  
  .listings {
  }

  .listing {
    margin: 0 0 10px 0;
    padding: 0 10px;

    &:hover {
      cursor: pointer;
    }

    h4, h5 {
      margin: 0px;
    }

    .address {
      max-width: 290px;
    }

    .rank, .info, .crowd-bar, .watchers, .box {
      display: inline-block;
    }

    .rank {
      float: left;
    }

    .spot-pic {
      display: inline-block;
      width: 85px;
      height: 85px;
      padding: 0 5px;
      margin-top: -95px;
    }

    .info {
      padding: 0 0 0 5px;
    }

    .watchers {
      display: inline-block;
      margin: 4px 0 0 5px;
      vertical-align: top;
    }

    .crowd-rank {
      margin: 5px 0 0 0;
    }

    .stars {
      img {
        height: 25px;
        width: 25px;
      }
    }

    .box {
      height: 25px;
      width: 25px;

      h6 {
        color: $acc-light;
        display: inline;
        float: left;
        font-size: 10px;
        margin: 8px 0 0 2px;
      }
    }

    hr {
      margin-top: 15px;
      width: 100%;
    }

    .current-status {
      display: inline-block;
      float: left;
      margin: -90px 0 0 430px;
    }

    .status {
      margin: 0 0 0 68px;
    }

  }

  .map {
    margin: 0 0 0 20px;
  }

  .fixed {
    position: fixed;
    margin-top: -210px;
    margin-left: 21px;
  }

  .relative {
    position: relative;
  }

  .more {
    margin: -10px 0 0 0;

    a { 
      color: $text-dark;
      width: 100px;

      &:hover {
        color: $comp1-dark;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: $break-small){
  #listings-page,
  #home-page {

    .main-col {
      display: block;
      width: 100%
    }

    .title-bar {

      .top {
        height: 120px;
      }

      .listing-location {
        margin-left: 0 !important;
      }
      
      .listing-nums {
        width: 100px;
        float: left;
        margin-top: 20px;
      }

      .add-spot-btn {
        margin-top: 5px;
      }

      .main-col {
        padding: 0;
      }

      .side-col {
        display: none;
      }
    }

    .listing {
      height: 100px;

      .spot-pic {
        height: 50px;
        width: 50px;
        margin-top: 0;
        display: inline-block;
      }

      .spot-pic {
        vertical-align: top;
        margin-top: 2px;
      }

      .info {
      }

      .title {
        @include text-overflow();
        font-size: 14px;
        margin-top: -3px;
        max-width: 180px;
      }

      .address {
        @include text-overflow();
        font-size: 11px;
        margin: -3px 0;
        max-width: 180px;
      }

      .rating {
        display: none;
      }

      .box {
        height: 20px;
        width: 20px;

        h6 {
          font-size: 8px;
          margin-top: 5px;
        }
      }

      .watchers {
        font-size: 10px;
      }

      .current-status {
        display: block;
        margin: 0 0 0 20px;
        width: 100%;

        .status {
          display: inline-block;
          font-size: 14px;
          float: left;
          margin: -40px 0 0 120px;
        }

        h4 {
          font-size: 12px;
        }
        h5 {
          font-size: 9px;
          margin-top: -5px;
        }
      }

      hr {
        width: 95%;
      }
    }

    .side-col {
      float: none;
      margin: 10px 0 0 10px;
      position: relative;
    }
  }
}

/******************
*** Home Page
*******************/
#home-page {
  min-height: 400px;

  .favorites-title {

  }

  .title-bar {
    padding-bottom: 0px;

    .listing-nums {
      width: 250px;
    }
  }

  .side-col {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: $break-small){
  #home-page {
    .title-bar {
      .listing-nums {
        margin: 2px 0 0 0;
        width: 120px;
      }

      .favorites-title {
        margin: 0;
      }

      .top {
        height: auto;
      }
    }
  }
}

/******************
*** Spot Page
*******************/
#spot-page {
  min-height: 400px;

  .title-bar {
    @include page-element(10px, 10px, left, top);
    height: 300px;

    .spot-name {
      margin: 0;
    }

    .details-left {
      display: inline-block;
      float: left;
      height: 202px;
      max-width: 300px;
      margin-top: -10px;
      vertical-align: top;
      color: $acc-dark;
    }

    .details-top {
      height: 100px;
    }

    .spot-address {
      margin: 5px 0 0 15px;
      color: $acc-dark; 
      text-overflow: ellipsis;

      h5 {
        margin: 0;
      }
    }

    .rating {
      margin: 5px 0 50px 0;
    }

    .spot-types {
      height: 100px;
      vertical-align: bottom;
      display: table-cell;
    }

    .details-right {
      display: inline-block;
      margin: -20px 0 0 20px;
      vertical-align: top;
      height: 202px;

      h3 {
        margin-bottom: 0;
      }

      .current-status-time {
        margin: -10px 0 0 20px;
      }
    }

    .current-status {
      height: 160px;
    }
     
    .current-status-header{
      display: inline-block;
      margin: 5px 0 0 0;
    }

    .current-status-info {
      display: inline-block;
      margin: -5px 0 0 20px;
    }

    .current-status-time {
      color: $acc-dark;
    }

    .watch-status {
      width: 360px;
    }

    .watch-comment {
      width: 360px;
      max-height: 60px;
      text-overflow: ellipsis;
    }

    .watch-comment-user {
      color: $comp1-dark;
      font-weight: bold;
      //margin-left: 18px;
    }

    .watch-image {
      float: left;
      height: 50px;
      margin: 0 10px 10px 0;
      width: 50px;
    }

    .favorite {
      display: inline-block;
      color: $link;
      margin-right: 10px;

      &:hover {
        color: $hover-link;
        cursor: pointer;
      }
    }

    .service {
      display: inline-block;
      margin: 0 10px 0 0;
      text-align: center;
    }

    .service-image {

    }

    .service-link {

    }

    .service-name {
      margin: 0 0 0 0;
    }

    .yelp-link {
      display: inline-block;
      margin-top: 5px;
    }

    .ad-text {
      @include ad-element;
      width: 100%;
      height: 60px;
      min-width: 468px;

      h6 {
        float: right;
        padding-right: 10px;
      }

      h5 {
        padding: 10px;
      }

      .author {
        margin: -30px 0 0 40px;
      }
    }
  }
  
  .fav {
    display: inline-block;
    margin: 0 0 53px 0;
  }

  .edit-spot {
    color: $comp2-dark;
    margin: 25px 0 0 0;
    float: right;

    &:hover {
      cursor: pointer;
      color: $comp1-dark; 
    }    
  }


  .type {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .visualize {
    @include page-element
  }

  .reviews {
    @include page-element(10px, 10px, left);
    min-height: 400px;

    hr {
      margin-top: 5px 0;
      width: 640px;
    }

    .user {
      img {
        height: 40px;
        width: 40px;
      }
    }

    .info {
      p {
        margin: 20px 0 0 0;
      }
    }
  }

  .review-nums {
    width: 200px;
    display: inline-block;
  }

  .review {

    .user {
      display: inline-block;
      margin: 10px 0 0 0;
    }

    .info {
      display: inline-block;
      float: right;
      padding: 8px 10px 0 0;
      width: 85%;
    }
  }

  .add-review {
    float: right;
    margin-top: 0;
  }

  .find-nearby {
    padding: 0 0 0 70px;
    margin: 0 0 10px 0;

    h3 {
      display: inline-block;
      margin: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .nearby-type {
    padding: 0 0 5px 20px;

    div, h4 {
      display: inline-block;
      margin: 10px;
    }

    .b4cm-icon {
      height: 50px;
      width: 50px;
    }
  }
  .more {

    a { 
      color: $text-dark;

      &:hover {
        color: $comp1-dark;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: $break-small){
  #spot-page {

    // TODO: parent spot page selectors are too nested

    .title-bar {
      height: auto;

      .rating {
        margin: 0;
      }

      .spot-types {
        height: auto;
        display: block;
        width: 100%;
      }

      .details-top {
        height: auto;
      }

      .spot-name {
        @include text-overflow();
        font-size: 16px;
        margin-bottom: -5px;
        width: 100%;
      }

      .details-left {
        display: block;
        float: none;
        width: 100%;
        max-width: 100%;
        height: auto;
      }

      .details-right {
        display: block;
        height: auto;
        width: 100%;
        margin: -20px 0 0 0;
      }

      .current-status {
        height: auto;
      }

      .ad-text {
        width: 100%;
        min-width: 0px;
      }

    }

    .main-col, .side-col {
      display: block;
      width: 100%;
      float: none;
    }

    .spot-address {
      font-size: 12px;
      
      h5 {
        line-height: 15px;
      }
    }

    .stars {
      img {
        height: 20px;
        width: 20px;
      }

      .review-count {
        font-size: 10px;
      }
    }

    hr {
      width: 100%;
    }

    // TODO: global conflict with listings .info class.
    .review {
      .info {
        float: none;
        width: 220px;
        margin-left: 10px;

        p {
          margin-top: 0;
        }
      }
    }

    .review-nums {
      width: 150px;
    }

    .no-review {
      font-size: 15px;
    }
  }
}
/******************
*** Sign Up Page 
*******************/
#sign-up, #sign-in {
  @include page-element;
  min-height: 400px;


  .login-method {
    display: inline-block;
    text-align: center;
    padding: 20px;

    &.facebook .icon {
      background-position: 0 0;
    }

    &.twitter .icon {
      background-position: -41px 0;
    }

    &.github .icon {
      background-position: -83px 0;
    }

    &.persona .icon {
      background-position: -125px 0;
    }

    .icon {
      background: url('../images/social-icons.png');
      background-size: 250px 50px;
      width: 42px;
      height: 50px;
      margin: auto;
    }

  }

  .b4cm-signup, .b4cm-signin {
    display: inline-block;
    width: 380px;
    padding: 0 10px;
    vertical-align: top;

    .control-label {
      width: 100px;
    }

    .controls {
      margin-left: 110px;
    }
  }

  .sign-up-btn {
    text-align: left;

    .btn {
      margin: 0px 0 0 25px;
    }
  }

  .third-party-signup {
    display: inline-block;
    width: 40%;
    vertical-align: top;

    div {
      text-align: center;
    }

    .login-method:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: $break-small){
  #sign-up {

    .b4cm-signup, .third-party-signup {
      width: 100%;
      padding: 0 0 0 5px;

      h4 {
        margin-left: 50px;
        text-align: left;
      }
    }
    .control-label {
      width: 90px !important;
    }

    .controls, 
    input[type="text"],
    input[type="password"]{
      text-align: left;
      width: 180px;
    }

    .sign-up-btn {
      .btn {
        margin: 0;
      }
    }

  }
}

/******************
*** Sign In Page 
*******************/
// TODO: merge this with sign-up
// since already overlap and so similar
#sign-in {
  min-height: 400px;
  
  .login-method {
    display: inline-block;
  }

  .sign-in-btn {
    text-align: left;

    .btn {
      margin: 0px 0 0 25px;
    }
  }
}

@media screen and (max-width: $break-small){
  #sign-in {

    .b4cm-signin, .third-party-signup {
      width: 100%;
      padding: 0px;

      h4 {
        margin-left: 50px;
        text-align: left;
      }
    }
    .control-label {
      width: 80px !important;
    }

    .controls, 
    input[type="text"],
    input[type="password"]{
      text-align: left;
      width: 180px;
    }

    .sign-in-btn {
      .btn {
        margin: 0;
      }
    }

  }
}


/******************
*** Welcome Page 
*******************/
#welcome-page {
  @include page-element(10px, 10px, left);
  min-height: 400px;

  .sign-in-notification {
    color: $comp2-dark;
  }

  .help-item {
      font-weight: bold;
    }
  .data-item {
      font-style: italic;
  }
}

/******************
*** Add Review/Watch/Spot Page 
*******************/
#add-review-page,
#add-watch-page,
#add-multiple-page,
#add-spot-page,
#edit-spot-page {
  @include page-element(10px, 10px, left, top);
  @include image-load-control;
  min-height: 400px;

  h3 {
    margin: 0;
  }

  .controls {
    margin-left: 20px;
  }

  .control-label {
    width: 90px;
    margin: 0 10px 0 0;
  }

  textarea {
    width: 600px;
  }

  form {
    margin-bottom: 0;

    select, textarea, input {
      background-color: $acc-dark;
      border: 1px solid $comp1-dark;
      color: $text-light;
      max-width: 250px;
    }

  }

  .control-group:last-of-type {
    margin-bottom: 0;
  }

  .clickable {
    color: $comp2-dark;
    padding-left: 5px;

    &:hover {
      cursor: pointer;
      color: $comp1-dark; 
    }
  }

  button {
    margin-top: 0px;
    margin-left: 79px;
  }
}

#add-review-page {
  select {
    width: 70px;
  }
}

#add-watch-page,
#add-multiple-page{
  .day-select {
    width: 110px;
  }
  .hour-select {
    width: 60px;
  }
  .meridiem-select {
    width: 60px;
  }

  .add-multiple, .add-watch-btn {
    margin: 0 0 0 99px;

    &:hover {
      cursor: pointer;
    }
  }
}

#add-multiple-page{
  .visualize {
    text-align: left;
  }
  .crowd-factor {
    margin: 20px 0;
  }
  .crowd-visuals {
    padding-bottom: 10px;
  }

  .separator {
    font-weight: normal;
  }

  .spot-name {
    margin: 5px 0 0 0;
  }

  .spot-address {
    color: $acc-med;
    margin: 0 0 0 10px;
  }

  .watch-time {
    display: inline-block;
  }
}

#add-spot-page,
#edit-spot-page {

  h3 {
    margin-bottom: 10px;
  }

  .yelp-id-info {
    background-color: $acc-dark;
    border: 1px solid $comp1-dark;
    border-radius: 5px 5px 5px 5px;
    color: $text-light;
    float: right;
    margin: -102px 20px -120px;
    padding: 5px;
    width: 400px;  
  }

  .query {
    color: $high-bright;
  }

  .url {
    color: $high-bright;
    padding-left: 30px;
  }


  .day-select {
    width: 110px;
  }
  .hour-select {
    width: 80px;
  }
  .meridiem-select {
    width: 60px;
  }

//  .image-load-control {
//    margin-top: -10px;
//
//    img {
//      border: 1px solid $acc-dark;
//      float: right;
//      margin: -40px 450px -50px 0;
//    }
//  }

  .business-hours {
    margin-left: 100px;
  }

  h5 {
    display: inline-block;
    padding: 0 10px;
  }

  .to {
    color: $acc-med;
    padding: 10px;
  }

  .add-spot-btn {
    margin-top: 10px;
  }
}

@media screen and (max-width: $break-small){
  #add-watch-page,
  #add-review-page,
  #edit-spot-page,
  #add-spot-page,
  #add-multiple-page {
    text-align: left;

    .control-label {
      display: block;
      float: none;
      text-align: left;
    }

    .controls {
      margin-left: 0;
    }

    .to-label {
      display: block;
    }

    button, .add-multiple {
      margin: 0
    }

    .yelp-id-help {
      display: block;
    }

    .yelp-id-info {
      float: none;
      margin: 0;
      width: 96%;
    }

    .image-load-control {
      img {
        display: block;
        float: none;
        margin: 5px 0 0 0;
      }
    }

    .business-hours {
      margin-left: 0;
    }
  }
}


/******************
*** About Page 
*******************/

#about-page,
#privacy-page,
#terms-page,
#faq-page,
#advertise-page,
#contact-page{
  @include page-element(10px, 10px, left);
  min-height: 400px;

  .sign-in-notification {
    color: $comp2-dark;
  }

  .help-item {
      font-weight: bold;
    }
  .data-item {
      font-style: italic;
  }

  h4 {
    margin-top: 25px;
  }

}

/******************
*** Crowd Graph 
*******************/
.crowd-factor {
  background-image: linear-gradient(to bottom, #fcfcfc, $page-color);
  border: 2px solid #cccccc;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  width: 80%;
  color: $acc-dark;

  .current-time-marker {
    width: 20px;
    height: 20px;
    margin-top: -5px;
  }

  .current-time {
    display: inline-block;
    padding-right: 10px;
  }

  .watch-count {
    display: inline-block;
  }

  .time {
    color: $text-dark;
    //background: $acc-med;
    //border: 1px solid;
    //border-radius: 5px;
    padding: 5px;
  }

  .timeslot {
    display: inline-block;
    margin-left: -32px;
    position: relative;
    text-align: left;
    
    &:first-of-type {
      z-index: 50;
      margin-left: 0;
    }

    &:nth-child(2) {
      z-index: 40;
    }

    &:nth-child(3) {
      z-index: 30;
    }

    &:nth-child(4) {
      z-index: 20;
    }
  }

  .block-day {
    margin: 10px 0 0 0;
    padding-left: 35px;
    width: 165px;
  }

  td {
    height: 29px;
    text-align: center;
    width: 29px;
  }

  .labels {
    margin: 0 auto;
    padding: 10px 0;
    width: 600px;
    text-align: center;

    .none-square {
      box-shadow: 0px 0px 3px 3px $cf-average inset;
    }

    h5 {
      display: inline-block;
      width: 120px;
    }

    .average > h5 {
      color: 	$text-dark;
    }

    .row1, .row2 {
      text-align: center;

      &>div {
        width: 120px;
        display: inline-block;
        text-align: center;
      }
    }

    .color {
      border: .5px solid black;
      border-radius: 5px;
      display: inline-block;
      height: 15px;
      margin:0 auto -3px 0;
      width: 15px;
    }

    .row2 {
      margin-top: -50px;
    }
  }

  .marker {
    height: 16px;
    width: 16px;
  }

  .empty {
    color: $cf-empty;
  }

  .saturday-row {
    border-top: 3px solid $blue-grey !important;
  }
}

@media screen and (max-width: $break-small){
  .crowd-factor {

    .crowd-visuals {
      text-align: center;
    }

    .timeslot {
      display: block;
      margin: 0 auto !important;
      text-align: center;

      table {
        margin: 0 auto;
      }
    }

    .labels {
      width: 100%;
      .row2 {
        margin-top: -10px;
      }

    }
  }
}

// TEMP INTRO
.modal-body {
  .help-item {
      font-weight: bold;
    }
  .data-item {
      font-style: italic;
  }
}

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display. 
  http://stackoverflow.com/a/13276214 
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/******************
*** Spinner : http://cssload.net/
*******************/
.loading {
  padding-top: 100px;
}

#add-watch-page {
  .loading {
    text-align: left;
    width: 60px;
    height: 60px;
    padding-top: 0;
  }
}

#add-review-page{
  .loading {
    text-align: left;
    width: 70px;
    height: 70px;
    padding-top: 0;
  }
}

.page-element {
  background-color: $page-color;
  padding: 10px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

#floatingBarsG{
position:relative;
width:62px;
height:77px;
margin: 0px auto;}


.blockG{
position:absolute;
background-color:#DDDDDD;
width:10px;
height:24px;
-moz-border-radius:8px 8px 0 0;
-moz-transform:scale(0.4);
-moz-animation-name:fadeG;
-moz-animation-duration:0.8s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:8px 8px 0 0;
-webkit-transform:scale(0.4);
-webkit-animation-name:fadeG;
-webkit-animation-duration:0.8s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:8px 8px 0 0;
-ms-transform:scale(0.4);
-ms-animation-name:fadeG;
-ms-animation-duration:0.8s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:8px 8px 0 0;
-o-transform:scale(0.4);
-o-animation-name:fadeG;
-o-animation-duration:0.8s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:8px 8px 0 0;
transform:scale(0.4);
animation-name:fadeG;
animation-duration:0.8s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#rotateG_01{
left:0;
top:28px;
-moz-animation-delay:0.3s;
-moz-transform:rotate(-90deg);
-webkit-animation-delay:0.3s;
-webkit-transform:rotate(-90deg);
-ms-animation-delay:0.3s;
-ms-transform:rotate(-90deg);
-o-animation-delay:0.3s;
-o-transform:rotate(-90deg);
animation-delay:0.3s;
transform:rotate(-90deg);
}

#rotateG_02{
left:8px;
top:10px;
-moz-animation-delay:0.4s;
-moz-transform:rotate(-45deg);
-webkit-animation-delay:0.4s;
-webkit-transform:rotate(-45deg);
-ms-animation-delay:0.4s;
-ms-transform:rotate(-45deg);
-o-animation-delay:0.4s;
-o-transform:rotate(-45deg);
animation-delay:0.4s;
transform:rotate(-45deg);
}

#rotateG_03{
left:26px;
top:3px;
-moz-animation-delay:0.5s;
-moz-transform:rotate(0deg);
-webkit-animation-delay:0.5s;
-webkit-transform:rotate(0deg);
-ms-animation-delay:0.5s;
-ms-transform:rotate(0deg);
-o-animation-delay:0.5s;
-o-transform:rotate(0deg);
animation-delay:0.5s;
transform:rotate(0deg);
}

#rotateG_04{
right:8px;
top:10px;
-moz-animation-delay:0.6s;
-moz-transform:rotate(45deg);
-webkit-animation-delay:0.6s;
-webkit-transform:rotate(45deg);
-ms-animation-delay:0.6s;
-ms-transform:rotate(45deg);
-o-animation-delay:0.6s;
-o-transform:rotate(45deg);
animation-delay:0.6s;
transform:rotate(45deg);
}

#rotateG_05{
right:0;
top:28px;
-moz-animation-delay:0.7s;
-moz-transform:rotate(90deg);
-webkit-animation-delay:0.7s;
-webkit-transform:rotate(90deg);
-ms-animation-delay:0.7s;
-ms-transform:rotate(90deg);
-o-animation-delay:0.7s;
-o-transform:rotate(90deg);
animation-delay:0.7s;
transform:rotate(90deg);
}

#rotateG_06{
right:8px;
bottom:7px;
-moz-animation-delay:0.8s;
-moz-transform:rotate(135deg);
-webkit-animation-delay:0.8s;
-webkit-transform:rotate(135deg);
-ms-animation-delay:0.8s;
-ms-transform:rotate(135deg);
-o-animation-delay:0.8s;
-o-transform:rotate(135deg);
animation-delay:0.8s;
transform:rotate(135deg);
}

#rotateG_07{
bottom:0;
left:26px;
-moz-animation-delay:0.9s;
-moz-transform:rotate(180deg);
-webkit-animation-delay:0.9s;
-webkit-transform:rotate(180deg);
-ms-animation-delay:0.9s;
-ms-transform:rotate(180deg);
-o-animation-delay:0.9s;
-o-transform:rotate(180deg);
animation-delay:0.9s;
transform:rotate(180deg);
}

#rotateG_08{
left:8px;
bottom:7px;
-moz-animation-delay:1s;
-moz-transform:rotate(-135deg);
-webkit-animation-delay:1s;
-webkit-transform:rotate(-135deg);
-ms-animation-delay:1s;
-ms-transform:rotate(-135deg);
-o-animation-delay:1s;
-o-transform:rotate(-135deg);
animation-delay:1s;
transform:rotate(-135deg);
}

@-moz-keyframes fadeG{
0%{
background-color:#4650BD}

100%{
background-color:#DDDDDD}

}

@-webkit-keyframes fadeG{
0%{
background-color:#4650BD}

100%{
background-color:#DDDDDD}

}

@-ms-keyframes fadeG{
0%{
background-color:#4650BD}

100%{
background-color:#DDDDDD}

}

@-o-keyframes fadeG{
0%{
background-color:#4650BD}

100%{
background-color:#DDDDDD}

}

@keyframes fadeG{
0%{
background-color:#4650BD}

100%{
background-color:#DDDDDD}

}
