<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Crowdabout - Like a weather app, but for crowds</title>
    <meta name="description" content="If you want to be in a crowd or avoid a crowd, Crowdabout shows you the best times to go to your favorite places.  Whether its for social, study, work, or food, crowdabout helps you find bars, cafes, restraunts, and other spots with the right scene for you.">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="b4cmApp">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="">
          <a class="brand" href="/"><img src="../images/ca-logo-200x25.png"></a>
          <form class="form-horizontal find-spot">
            <select class="type" ng-model="spotType" ng-options="type.name for type in spotTypes"></select>
            <input type="text" class="form-control" ng-model="searchLocation" placeholder="City or Zip">
            <button class="btn search-btn" ng-click="searchListings(spotType.name, searchLocation)">Search</button>
            <img class="search-icon" ng-click="searchListings(spotType.name, searchLocation)" src="../images/search-icon.png">
          </form>
          <div class="nav-collapse collapse login" ng-cloak>
            <ul class="nav pull-right" ng-show="name">
              <li class="">
              <a ng-href="#/home">Welcome {{name}}</a>
              </li>
              <li class="or">
                ||
              </li>
              <li class="">
                <a ng-click="logOut()" class="signout">Sign Out</a>
              </li>
            </ul>
            <ul class="nav pull-right" ng-hide="name">
              <li class="">
                <a ng-href="#/signin">Sign In</a>
              </li>
              <li class="or">
                ||
              </li>
              <li class="">
                <a ng-href="#/signup">Sign Up</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container" ng-view></div>

    <!--[if lt IE 8]>
      <p>Appologies, but to use the site you need to upgrade your version of Internet Explorer to 9 or greater.  You could also use another browser such as Firefox, Chrome, Safari, or Opera.</p>
    <![endif]-->
    <!-- Footer
    ================================================== -->
    <hr>
    <div class="footer">
      <ul>
        <li><a ng-href="#/about">About</a></li>
        <li><a ng-href="#/privacy">Privacy</a></li>
        <li><a ng-href="#/terms">Terms</a></li>
        <li><a ng-href="#/faq">FAQ</a></li>
        <li><a ng-href="#/advertise">Advertise</a></li>
        <li><a ng-href="#/contact">Contact</a></li>
      </ul>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlNNSwxYFG63J-8V6Vw7lmJx1HuMzQJeY&sensor=false"></script>
    <script src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>
    <script src="components/FirebaseGeo.js"></script>
    <script src="components/angular/angular.js"></script>
    <script src="components/angularFire.js"></script>
    <script src="components/angular-google-maps.js"></script>
    <script src="components/imageupload.js"></script>
    <script src="components/modal.js"></script>
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52042edd403323ff"></script>


    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/listings.js"></script>
    <script src="scripts/controllers/spot.js"></script>
    <script src="scripts/controllers/addSpot.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/privacy.js"></script>
    <script src="scripts/controllers/terms.js"></script>
    <script src="scripts/controllers/faq.js"></script>
    <script src="scripts/controllers/contact.js"></script>
    <script src="scripts/controllers/signup.js"></script>
    <script src="scripts/controllers/advertise.js"></script>
    <script src="scripts/controllers/signin.js"></script>
    <script src="scripts/controllers/addReview.js"></script>
    <script src="scripts/controllers/addWatch.js"></script>
    <script src="scripts/services/spot.js"></script>
    <script src="scripts/services/listings.js"></script>
    <script src="scripts/services/geolocation.js"></script>
    <script src="scripts/services/user.js"></script>
    <script src="scripts/services/util.js"></script>
    <script src="scripts/controllers/welcome.js"></script>
    <script src="scripts/controllers/editSpot.js"></script>
    <script src="scripts/directives/scrollPosition.js"></script>
    <script src="scripts/controllers/addMultipleWatches.js"></script>
    <script src="scripts/controllers/home.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-44210785-1', 'crowdabout.co');
      ga('send', 'pageview');
    </script>

  </body>
</html>
