<div id="add-multiple-page">
  <h3>Add Multiple Crowd Watches:</h3>

  <h4>{{name}}<h4>
  <h5>{{address}}, {{city}}</h5>

<div class="visualize">
  <div class="crowd-factor">
    <div class="crowd-visuals">
      <div class="timeslot" ng-repeat="block in blocks">
        <h5>{{block.name}}</h5>
        <table class="{{block.name}}-table">
          <tr>
            <th></th>
            <th ng-repeat="hour in block.hours">{{hour}}</th>
          </tr>
          <tr ng-repeat="day in block.days" class="{{day.name}}-row">
            <td>{{day.label}}</td>
            <td ng-repeat="hour in day.hours" class="{{hour.cf_status}}-square"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <form class="form-horizontal">
    
    <div class="control-group">
      <label class="control-label">Crowd Factor: </label>
      <div class="controls">
        <label class="radio inline empty">
          <input type="radio" name="cf_status" ng-model="cf_status" value="empty">Empty
        </label>
        <label class="radio inline few">
          <input type="radio" name="cf_status" ng-model="cf_status" value="few">Few
        </label>
        <label class="radio inline ave">
          <input type="radio" name="cf_status" ng-model="cf_status" value="average">Average
        </label>
        <label class="radio inline crowded">
          <input type="radio" name="cf_status" ng-model="cf_status" value="crowded">Crowded
        </label>
        <label class="radio inline herd">
          <input type="radio" name="cf_status" ng-model="cf_status" value="herd">Herd
        </label>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputHours">Time Window: </label>
      <div class="controls">
        <select class="day-select" ng-model="startDay" ng-options="day.label for day in WEEKDAYS"></select>
        <select class="hour-select" ng-model="startHour" ng-options="hour.label for hour in HOURS"></select>
        <select class="meridiem-select" ng-model="startMeridiem" ng-options="meridiem.label for meridiem in MERIDIEMS"></select>
        To
        <select class="day-select" ng-model="stopDay" ng-options="day.label for day in WEEKDAYS"></select>
        <select class="hour-select" ng-model="stopHour" ng-options="hour.label for hour in HOURS"></select>
        <select class="meridiem-select" ng-model="stopMeridiem" ng-options="meridiem.label for meridiem in MERIDIEMS"></select>
      </div>
    </div>

    <div class="controle-group"><a class="add-watch-btn" ng-click="addWatch()">Add One Watch</a></div>
    <br>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn" ng-click="submitWatches()">Save All Watches</button>
      </div>
    </div>
  </form>
</div>

