<div id="add-review-page">
  <h3>Add a Review for:</h3>

  <h4>{{spot.name}}</h4>
    <h5>{{spot.location.address}}, {{spot.location.city}}</h5>
  <form class="form-horizontal">

    <div class="control-group">
      <label class="control-label">Type of Spot</label>
      <div class="controls">
        <label class="checkbox inline">
          <input type="checkbox" id="revTypeFood" ng-model="food" value="food">Food
        </label>
        <label class="checkbox inline">
          <input type="checkbox" id="revTypeStudy" ng-model="study" value="study">Study
        </label>
        <label class="checkbox inline">
          <input type="checkbox" id="revTypeSocial" ng-model="social" value="social">Social
        </label>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputStars">Stars:</label>
      <div class="controls">
        <select class="rating-select" ng-model="rating" ng-options="rating.label for rating in RATINGS"></select>     
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputWriteup">Write up:</label>
      <div class="controls">
        <textarea id="inputWriteup" placeholder="Your review" ng-model="writeup"></textarea>
      </div>
    </div>

    <div class="control-group add-rev-btn">
      <div class="controls">
        <button type="submit" class="btn" ng-click="addReview()">Add Review:</button>
      </div>
    </div>
  </form>
</div>
