<div id="add-spot-page">
  <h3>Add a spot:</h3>

  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputName">Name</label>
      <div class="controls">
        <input type="text" id="inputName" ng-model="name" placeholder="Name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputYelpId">Yelp ID</label>
      <div class="controls">
        <input type="text" id="inputYelpId" ng-model="yelp_id" placeholder="Yelp ID">
        <a class="clickable" ng-click="yelpIdHelp()">What's This?</a>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputAddress">Address</label>
      <div class="controls">
        <input type="text" id="inputAddress" ng-model="address" placeholder="Address">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputCity">City</label>
      <div class="controls">
        <input type="text" id="inputCity" ng-model="city" placeholder="City">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputZip">Zip</label>
      <div class="controls">
        <input type="text" id="inputZip" ng-model="postal_code" placeholder="Zip">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputState">State</label>
      <div class="controls">
        <input type="text" id="inputState" ng-model="state_code" placeholder="State">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Wifi</label>
      <div class="controls">
        <label class="checkbox inline">
          <input type="checkbox" id="revTypeFood" ng-model="wifi" value="food">
        </label>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="imageLoader">Upload Picture</label><br/>
      <div class="controls image-load-control">
        <input type="file" id="imageLoader" accept="image/*" image="image2" resize-max-height="100" resize-max-width="100" resize-quality="0.7" />
        <img ng-show="image2" ng-src="{{image2.resized.dataURL}}"/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Type of Spot</label>
      <div class="controls">
        <label class="checkbox inline">
          <input type="checkbox" id="revTypeFood" ng-model="food" value="food">Food
        </label>
        <label class="checkbox inline">
          <input type="checkbox" id="revTypeStudy" ng-model="study" value="study">Study
        </label>
        <label class="checkbox inline">
          <input type="checkbox" id="revTypeSocial" ng-model="social" value="social">Social
        </label>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputHours">Hours: </label>
      <div class="controls">
        <select class="day-select" ng-model="openDay" ng-options="day.label for day in WEEKDAYS"></select>
        <select class="hour-select" ng-model="openHour" ng-options="hour.label for hour in HOURS"></select>
        <select class="meridiem-select" ng-model="openMeridiem" ng-options="meridiem.label for meridiem in MERIDIEMS"></select>
        To
        <select class="day-select" ng-model="closeDay" ng-options="day.label for day in WEEKDAYS"></select>
        <select class="hour-select" ng-model="closeHour" ng-options="hour.label for hour in HOURS"></select>
        <select class="meridiem-select" ng-model="closeMeridiem" ng-options="meridiem.label for meridiem in MERIDIEMS"></select>
        <a class="clickable" ng-click="addHours()">Add Hours</a>
      </div>
    </div>

    <div class="business-hours" ng-repeat="time in business_hours">
      <h5>
        {{time.open_day.label}} {{time.open_hour.label}} {{time.open_meridiem.label}} 
        <span class="to">To</span> 
        {{time.close_day.label}} {{time.close_hour.label}} {{time.close_meridiem.label}}
      </h5>
      <a class="clickable" ng-click="deleteHour($index)">delete</a>
    </div>

    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn add-spot-btn" ng-click="addSpot()">Add Spot</button>
      </div>
    </div>
  </form>
</div>
