<div id="listings-page">
  <div class="title-bar clearfix">
    <div class="main-col span8">
      <img class="b4cm-icon" src="../images/b4cm-icon-study.png">
      <h2>Study</h2>
      <h3>Palo Alto, CA 94301</h3>
      <form class="form-horizontal">
        <h4>New Spot: </h4>
        <select class="type">
          <option>Food</option>
          <option>Study</option>
          <option>Social</option>
          <option>All</option>
        </select>
        <input type="text" class="form-control" placeholder="City or Zip">
        <button class="btn">Search</button>
      </form>
      <a  ng-href="#/addSpot">
        <button class="btn add-spot">Add Spot</button>
      </a>
      <h6>1-10 of 100</h6>
    </div>
    <div class="side-col span4">
      <div class="ad">
        Ad Holder
      </div>
    </div>
  </div>

  <hr>

  <div class="page">
    <div class="listings">

      <div class="listing" ng-click="findSpot()">
        <div class="rank">
          <h4>1.</h4>
        </div>
        <div class="info"> 
          <h4 class="title">Philz Coffee</h4>
          <h5 class="address">101 Forest Ave. Palo Alto</h5>
          <div class="rating">
            <div class="stars">
              <img src="images/star-icon.png">
              <img src="images/star-icon.png">
              <img src="images/star-icon.png">
              <img src="images/star-icon-half.png">
              <img src="images/star-icon-empty.png">
            </div>
            <div class="review-count">75 Reviews</div>
          </div>
          <div class="crowd-rank">
            <div class="crowd-bar">
              <div class="box"></div>
              <div class="box"></div>
              <div class="box"></div>
              <div class="box"></div>
              <div class="box"></div>
            </div>
            <div class="watchers">549 Watchers</div>
          </div>
        </div>
        <hr>
      </div>

      <div class="listing" ng-click="findSpot()">
        <div class="rank">
          <h4>2.</h4>
        </div>
        <div class="info"> 
          <h4 class="title">Peet's Coffee & Tea</h4>
          <h5 class="address">448 University Ave. Palo Alto</h5>
          <div class="rating">
            <div class="stars">
              <img src="images/star-icon.png">
              <img src="images/star-icon.png">
              <img src="images/star-icon.png">
              <img src="images/star-icon-empty.png">
              <img src="images/star-icon-empty.png">
            </div>
            <div class="review-count">75 Reviews</div>
          </div>
          <div class="crowd-rank">
            <div class="crowd-bar">
              <div class="box"></div>
              <div class="box"></div>
              <div class="box"></div>
              <div class="box"></div>
              <div class="box"></div>
            </div>
            <div class="watchers">549 Watchers</div>
          </div>
        </div>
        <hr>
      </div>

      <div class="listing" ng-click="findSpot()">
        <div class="rank">
          <h4>3.</h4>
        </div>
        <div class="info"> 
          <h4 class="title">Coupa Cafe</h4>
          <h5 class="address">638 Ramona St. Palo Alto</h5>
          <div class="rating">
            <div class="stars">
              <img src="images/star-icon.png">
              <img src="images/star-icon.png">
              <img src="images/star-icon.png">
              <img src="images/star-icon-half.png">
              <img src="images/star-icon-empty.png">
            </div>
            <div class="review-count">75 Reviews</div>
          </div>
          <div class="crowd-rank">
            <div class="crowd-bar">
              <div class="box"></div>
              <div class="box"></div>
              <div class="box"></div>
              <div class="box"></div>
              <div class="box"></div>
            </div>
            <div class="watchers">549 Watchers</div>
          </div>
        </div>
        <hr>
      </div>

      <div class="more">
        <a>More Results</a>
      </div>
    </div>

    <div class="side-col">
      <div class="map">MAP</div>
    </div>
  </div>
</div>
