<div id="listings-page">
  <div class="title-bar clearfix">
    <div class="main-col span8">
      <div class="type-icon">
      </div>
      <h2>Study</h2>
      <h3>Palo Alto, CA 94301</h3>
      <form class="form-horizontal">
        <h4>New Spot: </h4>
        <select class="type">
          <option>Food</option>
          <option>Study</option>
          <option>Social</option>
          <option>All</option>
        </select>
        <input type="text" class="form-control" placeholder="City or Zip">
        <button class="btn">Search</button>
      </form>
      <button class="btn add-spot">Add Spot</button>
      <h6>1-10 of 100</h6>
    </div>
    <div class="side-col span4">
      <div class="ad">
        Ad Holder
      </div>
    </div>
  </div>
  <hr>
  <div class="listings">
    <div class="listing">
      <h2 class="rank">1</h2>
      <h4 class="title">Philz Coffee</h4>
      <h5 class="address">101 Forest Ave. Palo Alto</h5>
      <div class="stars"></div>
      <div class="review"></div>
      <div class="crowd"></div>
      <div class="watchers"></div>
    </div>
  </div>

  <div class="map">
  </div>
</div>
