<div id="main-page">

  <div class="spot-types">
    <div class="spots-tagline">
      <img class="arrow-side" src="../images/arrow-left.png">
      <div class="center">
        <h2>Three Types of <span class="emphasize">Spots</span></h2>
        <img class="arrow-center" src="../images/arrow-center.png">
      </div>
      <img class="arrow-side" src="../images/arrow-right.png">
    </div>
    <div class="spots">
      <div class="spot food" ng-click="findListings()">
        <img class="b4cm-icon" src="../images/b4cm-icon-food.png">
        <h3>Food</h3>
        <div class="type-blurb">
          <h4>"Get a table</h4>
          <h4>and a good meal"</h4>
        </div>
      </div>
      <div class="spot study" ng-click="findListings()">
        <img class="b4cm-icon" src="../images/b4cm-icon-study.png">
        <h3>Study</h3>
        <div class="type-blurb">
          <h4>"Study or work</h4>
          <h4>without distractions"</h4>
        </div>
      </div>
      <div class="spot social" ng-click="findListings()">
        <img class="b4cm-icon" src="../images/b4cm-icon-social.png">
        <h3>Social</h3>
        <div class="type-blurb">
          <h4>"Have a drink,</h4>
          <h4>and hear your friends"</h4>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="nearby">
    <form class="form-horizontal">
      <h3>Find a place near you:</h3>
      <select class="type">
        <option>Food</option>
        <option selected>Study</option>
        <option>Social</option>
        <option>All</option>
      </select>
      <input type="text" class="form-control" placeholder="City or Zip">
      <button class="btn" ng-click="findListings()">Search</button>
    </form>
  </div>

  <hr>

  <div class="visualize">
    <div class="visualize-tagline">
      <h2><span class="emphasize">"Visualize</span> the herd and learn the best</h2>
      <h2>times to go to your favorite places."</h2>
    </div>

    <div class="crowd-factor">
      <h3>Crowd Factor: <span class="current-time empty">Tuesday, 11pm</span></h3>
      <h4>73 Watchers</h4>
      <button type="button" class="btn">Add Herd Watch</button>
      <div class="crowd-visuals">
        <div class="timeslot">
          <h5>Morning</h5>
          <table class="morning-table">
            <tr>
              <th></th>
              <th>5</th>
              <th>6</th>
              <th>7</th>
              <th>8</th>
              <th>9</th>
              <th>10</th>
            </tr>
            <tr class="monday-row">
              <td>M</td>
              <td class="closed-square"></td>
              <td class="empty-square"></td>
              <td class="few-square"></td>
              <td class="herd-square"></td>
              <td class="ave-square"></td>
              <td class="ave-square"></td>
            </tr>
            <tr class="tuesday-row">
              <td>Tu</td>
              <td class="closed-square"></td>
              <td class="empty-square"></td>
              <td class="few-square"></td>
              <td class="herd-square"></td>
              <td class="ave-square"></td>
              <td class="ave-square"></td>
            </tr>
            <tr class="wednesday-row">
              <td>W</td>
              <td class="closed-square"></td>
              <td class="empty-square"></td>
              <td class="few-square"></td>
              <td class="herd-square"></td>
              <td class="few-square"></td>
              <td class="ave-square"></td>
            </tr>
            <tr class="thursday-row">
              <td>Th</td>
              <td class="closed-square"></td>
              <td class="empty-square"></td>
              <td class="ave-square"></td>
              <td class="herd-square"></td>
              <td class="crowded-square"></td>
              <td class="ave-square"></td>
            </tr>
            <tr class="friday-row">
              <td>F</td>
              <td class="closed-square"></td>
              <td class="empty-square"></td>
              <td class="ave-square"></td>
              <td class="crowded-square"></td>
              <td class="herd-square"></td>
              <td class="crowded-square"></td>
            </tr>
            <tr class="saturday-row">
              <td>Sa</td>
              <td class="closed-square"></td>
              <td class="empty-square"></td>
              <td class="empty-square"></td>
              <td class="ave-square"></td>
              <td class="crowded-square"></td>
              <td class="herd-square"></td>
            </tr>
            <tr class="sunday-row">
              <td>Su</td>
              <td class="closed-square"></td>
              <td class="empty-square"></td>
              <td class="empty-square"></td>
              <td class="few-square"></td>
              <td class="few-square"></td>
              <td class="ave-square"></td>
            </tr>
          </table>
        </div>
        <div class="timeslot">
          <h5>Afternoon</h5>
          <table class="afternoon-table">
            <tr>
              <th></th>
              <th>11</th>
              <th>12</th>
              <th>1</th>
              <th>2</th>
              <th>3</th>
              <th>4</th>
            </tr>
            <tr class="monday-row">
              <td>M</td>
              <td class="empty-square"></td>
              <td class="few-square"></td>
              <td class="ave-square"></td>
              <td class="herd-square"></td>
              <td class="herd-square"></td>
              <td class="crowded-square"></td>
            </tr>
            <tr class="tuesday-row">
              <td>Tu</td>
              <td class="empty-square"><img class="marker" src="../images/star-icon.png"></td>
              <td class="few-square"></td>
              <td class="crowded-square"></td>
              <td class="herd-square"></td>
              <td class="crowded-square"></td>
              <td class="crowded-square"></td>
            </tr>
            <tr class="wednesday-row">
              <td>W</td>
              <td class="few-square"></td>
              <td class="ave-square"></td>
              <td class="crowded-square"></td>
              <td class="herd-square"></td>
              <td class="herd-square"></td>
              <td class="crowded-square"></td>
            </tr>
            <tr class="thursday-row">
              <td>Th</td>
              <td class="empty-square"></td>
              <td class="few-square"></td>
              <td class="ave-square"></td>
              <td class="herd-square"></td>
              <td class="crowded-square"></td>
              <td class="herd-square"></td>
            </tr>
            <tr class="friday-row">
              <td>F</td>
              <td class="ave-square"></td>
              <td class="few-square"></td>
              <td class="crowded-square"></td>
              <td class="herd-square"></td>
              <td class="herd-square"></td>
              <td class="crowded-square"></td>
            </tr>
            <tr class="saturday-row">
              <td>Sa</td>
              <td class="ave-square"></td>
              <td class="crowded-square"></td>
              <td class="herd-square"></td>
              <td class="crowded-square"></td>
              <td class="crowded-square"></td>
              <td class="crowded-square"></td>
            </tr>
            <tr class="sunday-row">
              <td>Su</td>
              <td class="few-square"></td>
              <td class="ave-square"></td>
              <td class="ave-square"></td>
              <td class="crowded-square"></td>
              <td class="crowded-square"></td>
              <td class="ave-square"></td>
            </tr>
          </table>
        </div>
        <div class="timeslot">
          <h5>Evening</h5>
          <table class="evening-table">
            <tr>
              <th></th>
              <th>5</th>
              <th>6</th>
              <th>7</th>
              <th>8</th>
              <th>9</th>
              <th>10</th>
            </tr>
            <tr class="monday-row">
              <td>M</td>
              <td class="crowded-square"></td>
              <td class="ave-square"></td>
              <td class="few-square"></td>
              <td class="empty-square"></td>
              <td class="closed-square"></td>
              <td class="closed-square"></td>
            </tr>
            <tr class="tuesday-row">
              <td>Tu</td>
              <td class="crowded-square"></td>
              <td class="ave-square"></td>
              <td class="few-square"></td>
              <td class="empty-square"></td>
              <td class="closed-square"></td>
              <td class="closed-square"></td>
            </tr>
            <tr class="wednesday-row">
              <td>W</td>
              <td class="crowded-square"></td>
              <td class="ave-square"></td>
              <td class="few-square"></td>
              <td class="empty-square"></td>
              <td class="closed-square"></td>
              <td class="closed-square"></td>
            </tr>
            <tr class="thursday-row">
              <td>Th</td>
              <td class="crowded-square"></td>
              <td class="ave-square"></td>
              <td class="few-square"></td>
              <td class="few-square"></td>
              <td class="closed-square"></td>
              <td class="closed-square"></td>
            </tr>
            <tr class="friday-row">
              <td>F</td>
              <td class="crowded-square"></td>
              <td class="ave-square"></td>
              <td class="few-square"></td>
              <td class="few-square"></td>
              <td class="closed-square"></td>
              <td class="closed-square"></td>
            </tr>
            <tr class="saturday-row">
              <td>Sa</td>
              <td class="crowded-square"></td>
              <td class="few-square"></td>
              <td class="few-square"></td>
              <td class="closed-square"></td>
              <td class="closed-square"></td>
              <td class="closed-square"></td>
            </tr>
            <tr class="sunday-row">
              <td>Su</td>
              <td class="ave-square"></td>
              <td class="few-square"></td>
              <td class="few-square"></td>
              <td class="closed-square"></td>
              <td class="closed-square"></td>
              <td class="closed-square"></td>
            </tr>
          </table>
        </div>
        <div class="labels">
          <div class="row1">
            <div class="empty">
              <div class="empty-square color">
              </div>
              <h5>Almost Empty</h5>
            </div>
            <div class="average">
              <div class="ave-square color">
              </div>
              <h5>Average Traffic</h5>
            </div>
            <div class="herd">
              <div class="herd-square color">
              </div>
              <h5>Herd Alert</h5>
            </div>
          </div>
          <br>
          <div class="row2">
            <div class="few">
              <div class="few-square color">
              </div>
              <h5>A Few People</h5>
            </div>
            <div class="crowded">
              <div class="crowded-square color">
              </div>
              <h5>Crowded</h5>
            </div>
            <div class="closed">
              <div class="closed-square color">
              </div>
              <h5>Closed</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
