<div id="main-page">

  <div class="spot-types">
    <div class="tag-line">
      <div class="side arrow">
      </div>
      <div class="center">
        <h1>Three Types of Spots</h1>
        <div class="center arrow">
        </div>
      </div>
      <div class="side arrow">
      </div>
    </div>
    <div class="spots">
      <div class="spot food">
        <div class="icon">
        </div>
        <h2>Food</h2>
        <h4>Get a table<br>and a good meal</h4>
      </div>
      <div class="spot study">
        <div class="icon">
        </div>
        <h2>Study</h2>
        <h4>Study or work<br>without distractions</h4>
      </div>
      <div class="spot social">
        <div class="icon">
        </div>
        <h2>Social</h2>
        <h4>Have a drink<br>and hear your friends</h4>
      </div>
    </div>
    <hr>
  </div>

  <div class="nearby">
    <form class="form-horizontal">
      <h3>Find a place near you:</h3>
      <select class="type">
        <option>Food</option>
        <option>Study</option>
        <option>Social</option>
        <option>All</option>
      </select>
      <input type="text" class="form-control" placeholder="City or Zip">
    </form>
    <hr>
  </div>

  <div class="visualize">
    <h1>"Visualize the herd and learn<br>the best times to go to your favorite place.</h1>
    <div class="crowd-factor">
      <h2>Crowd Factor: <span class="current-time">Tuesday, 5pm</span></h2>
      <h4>73 Watchers</h4>
      <button type="button" class="btn">Add Herd Watch</button>
      <div class="crowd-visuals">
        <div class="timeslot">
          <h5>Morning</h5>
          <table>
            <tr>
              <th></th>
              <th>5</th>
              <th>6</th>
              <th>7</th>
              <th>8</th>
              <th>9</th>
              <th>10</th>
            </tr>
            <tr>
              <td>M</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Tu</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>W</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Th</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>F</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Sa</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Su</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
        <div class="timeslot">
          <h5>Afternoon</h5>
          <table>
            <tr>
              <th></th>
              <th>11</th>
              <th>12</th>
              <th>1</th>
              <th>2</th>
              <th>3</th>
              <th>4</th>
            </tr>
            <tr>
              <td>M</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Tu</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>W</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Th</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>F</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Sa</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Su</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
        <div class="timeslot">
          <h5>Evening</h5>
          <table>
            <tr>
              <th></th>
              <th>5</th>
              <th>6</th>
              <th>7</th>
              <th>8</th>
              <th>9</th>
              <th>10</th>
            </tr>
            <tr>
              <td>M</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Tu</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>W</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Th</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>F</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Sa</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Su</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
        <div class="labels">
          <div class="row1">
            <div class="empty">
              <div class="color">
              </div>
              <h5>Almost Empty</h5>
            </div>
            <div class="average">
              <div class="color">
              </div>
              <h5>Average Traffic</h5>
            </div>
            <div class="herd">
              <div class="color">
              </div>
              <h5>Herd Alert</h5>
            </div>
          </div>
          <br>
          <div class="row2">
            <div class="few">
              <div class="color">
              </div>
              <h5>A Few People</h5>
            </div>
            <div class="crowded">
              <div class="color">
              </div>
              <h5>Crowded</h5>
            </div>
            <div class="closed">
              <div class="color">
              </div>
              <h5>Closed</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
