<div id="sign-up">

  <div class="b4cm-signup">
    <h4>Sign Up with Crowdabout:</h4> 
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputDisplayName">Display Name</label>
        <div class="controls">
          <input type="text" id="inputDisplayName" placeholder="Display Name" ng-model="name">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="Email" ng-model="email">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword">Password</label>
        <div class="controls">
          <input type="password" id="inputPassword" placeholder="Password" ng-model="password">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn" ng-click="signup()">Sign Up</button>
        </div>
      </div>
    </form>
  </div>

  <div class="third-party-signup">
    <h4>Or sign-in using another account</h4>
    <div>
      <div class="login-method facebook">
        <a><div class="icon"></div>Facebook</a>
      </div>
      <div class="login-method twitter">
        <a><div class="icon"></div>Twitter</a>
      </div>
      <div class="login-method github">
        <a><div class="icon"></div>Github</a>
      </div>
      <div class="login-method persona">
        <a><div class="icon"></div>Persona</a>
      </div>
    </div>  
  </div>

</div>
