<div id="spot-page">

  <div class="title-bar clearfix">

    <div class="main-col">

      <div class="details-left">
        <h2>{{spot.name}}</h2>
        <h4>{{spot.location.address}}</h4>
        <h4>{{spot.location.city}}, {{spot.location.state_code}} {{spot.location.postal_code}}</h4>
        <div class="rating">
          <div class="stars">
            <img ng-repeat="star in stars" ng-src="{{star}}">
          </div>
          <div class="review-count">75 Reviews</div>
        </div>
      </div>

      <div class="details-right">
        <div class="current-status">
          <h3>Current Status: <span class="status {{current_cflabel | lowercase}}">{{current_cflabel}}</span></h3>
          <h5>({{current_status}})</h5>
        </div>
        <div class="spot-types">
          <div class="type" ng-repeat="type in types">
            <img class="b4cm-icon" ng-src="{{type[0]}}" style="height:{{type[2]}}px; width:{{type[2]}}px">
            <div style="font-size:{{type[3]}}px;">{{type[1]}}</div>
          </div>
        </div>
      </div>

      <div class="text-ad">
        <h6>Ad</h6>
        <a ng-href="http://www.amazon.com/gp/product/0449908704/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0449908704&linkCode=as2&tag=coding4kicks-20">
          <h5>The Best and the Brightest</h5>
          <h5 class="author">- David Halberstam</h5>
        </a>
      </div>
    </div>

    <div class="side-col">
	    <div class="google-map"
        center="position.coords"
        zoom="zoomProperty"
        markers="markersProperty"
        latitude="clickedLatitudeProperty"
        longitude="clickedLongitudeProperty"
        mark-click="true"
        draggable="true"
        fit="false"
        events="eventsProperty"
        style="height: 260px; width: 280; border: 1px solid;">
      </div> 
    </div>
  </div>

  <hr>

  <div class="visualize">
    <div class="crowd-factor">
      <h3>Current Time: <span class="current-time empty">{{current_day}}, {{current_hour}}:{{current_minutes}} {{current_meridiem}}</span></h3>
      <h4>{{total_watchers}}</h4>
      <button type="button" class="btn" ng-click="addWatch()">Add Herd Watch</button>
      <div class="crowd-visuals">
        <div class="timeslot" ng-repeat="block in blocks">
          <h5>{{block.name}}</h5>
          <table class="{{block.name}}-table">
            <tr>
              <th></th>
              <th ng-repeat="hour in block.hours">{{hour}}</th>
            </tr>
            <tr ng-repeat="day in block.days" class="{{day.name}}-row">
              <td>{{day.label}}</td>
              <td ng-repeat="hour in day.hours" class="{{hour.cf_status}}-square"><img ng-show="{{show_marker[day.name][hour.label]}}" class="marker" src="../images/star-icon.png"></td>
            </tr>
          </table>
        </div>
        <div class="labels">
          <div class="row1">
            <div class="empty">
              <div class="empty-square color">
              </div>
              <h5>Almost Empty</h5>
            </div>
            <div class="average">
              <div class="ave-square color">
              </div>
              <h5>Average Traffic</h5>
            </div>
            <div class="herd">
              <div class="herd-square color">
              </div>
              <h5>Herd Alert</h5>
            </div>
          </div>
          <br>
          <div class="row2">
            <div class="few">
              <div class="few-square color">
              </div>
              <h5>A Few People</h5>
            </div>
            <div class="crowded">
              <div class="crowded-square color">
              </div>
              <h5>Crowded</h5>
            </div>
            <div class="closed">
              <div class="closed-square color">
              </div>
              <h5>Closed</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 

  <hr>

  <div class="reviews">
    <div class="main-col">
      <h6 class="review-nums">1-10 of 100</h6>
      <a ng-href="#/addReview">
        <button class="btn add-review">Add Review</button>
      </a>

      <hr>

      <div class="review-list">

        <div class="review">
          <div class="user">
            <img src="../images/peeps1.jpg">
            <h5 class="title">Steve S.</h5>
          </div>
          <div class="info"> 
            <div class="rating">
              <div class="stars">
                <img src="images/star-icon.png">
                <img src="images/star-icon.png">
                <img src="images/star-icon.png">
                <img src="images/star-icon-half.png">
                <img src="images/star-icon-empty.png">
              </div>
            </div>
            <p>Tesora = King of Coffee</p>
          </div>
          <hr>
        </div>

        <div class="review">
          <div class="user"> 
            <img src="../images/peeps2.jpg">
            <h5 class="title">Jack O.</h5>
          </div>
          <div class="info">
            <div class="rating">
              <div class="stars">
                <img src="images/star-icon.png">
                <img src="images/star-icon.png">
                <img src="images/star-icon.png">
                <img src="images/star-icon-half.png">
                <img src="images/star-icon-empty.png">
              </div>
            </div>
            <p>The only coffee shop were ordering a black coffee is seen as a faux paus.</p>
          </div>
          <hr>
        </div>

        <div class="review">
          <div class="user">
            <img src="../images/peeps3.jpg">
            <h5 class="title">Whiny B.</h5>
          </div>
          <div class="info"> 
            <div class="rating">
              <div class="stars">
                <img src="images/star-icon.png">
                <img src="images/star-icon.png">
                <img src="images/star-icon.png">
                <img src="images/star-icon-half.png">
                <img src="images/star-icon-empty.png">
              </div>
            </div>
            <p>Worth the hyp.  Mint leaves in my mint coffe make me happy.  Afterwards I get a coffee headache.</p>
          </div>
          <hr>
        </div>

        <div class="more">
          <a>More Results</a>
        </div>

      </div>
    </div>

    <div class="side-col">
      <div class="find-nearby">
        <h3>Find Nearby:</h3>
        <div class="nearby-type">
          <img class="b4cm-icon" src="../images/b4cm-icon-food.png">
          <h4>Food</h4>
        </div>
        <div class="nearby-type">
          <img class="b4cm-icon" src="../images/b4cm-icon-study.png">
          <h4>Study</h4>
        </div>
        <div class="nearby-type">
          <img class="b4cm-icon" src="../images/b4cm-icon-social.png">
          <h4>Social</h4>
        </div>
      </div>

      <div class="ad-book">
        <a ng-href="http://www.amazon.com/gp/product/0140437649/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0140437649&linkCode=as2&tag=coding4kicks-20">
          <img src="../images/books/historyofdeclineandfall.jpg">
          <h6>The History of the Decline and Fall of the Roman Empire</h6>  
        </a>    
      </div>
    </div>

  </div>
</div>
