<div id="spot-page">

  <div class="title-bar clearfix">
    <div class="main-col span8">
      <h2>Philz Coffee</h2>
      <div class="rating">
        <div class="stars">
          <img src="images/star-icon.png">
          <img src="images/star-icon.png">
          <img src="images/star-icon.png">
          <img src="images/star-icon-half.png">
          <img src="images/star-icon-empty.png">
        </div>
        <div class="review-count">75 Reviews</div>
      </div>
      <div class="spot-types">
        <div class="type">
          <div class="type-icon"></div>
          <div>Study</div>
        </div>
        <div class="type">
          <div class="type-icon"></div>
          <div>Food</div>
        </div>
        <div class="type">
          <div class="type-icon"></div>
          <div>Social</div>
        </div>
      </div>
    </div>
    <div class="side-col span4">
      <div class="map">
        Map
      </div>
      <h4>101 Forest Ave.</h4>
      <h4>Palo Alto, CA 94301</h4>
    </div>
  </div>
  <hr>

  <div class="crowd-factor">
    <h2>Crowd Factor: <span class="current-time">Tuesday, 5pm</span></h2>
    <h4>73 Watchers</h4>
    <button type="button" class="btn">Add Herd Watch</button>
    <div class="crowd-visuals">
      <div class="timeslot">
        <h5>Morning</h5>
        <table>
          <tr>
            <th></th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
          </tr>
          <tr>
            <td>M</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Tu</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>W</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Th</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>F</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Sa</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Su</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="timeslot">
        <h5>Afternoon</h5>
        <table>
          <tr>
            <th></th>
            <th>11</th>
            <th>12</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
          </tr>
          <tr>
            <td>M</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Tu</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>W</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Th</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>F</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Sa</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Su</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="timeslot">
        <h5>Evening</h5>
        <table>
          <tr>
            <th></th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
          </tr>
          <tr>
            <td>M</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Tu</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>W</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Th</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>F</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Sa</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Su</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="labels">
        <div class="row1">
          <div class="empty">
            <div class="color">
            </div>
            <h5>Almost Empty</h5>
          </div>
          <div class="average">
            <div class="color">
            </div>
            <h5>Average Traffic</h5>
          </div>
          <div class="herd">
            <div class="color">
            </div>
            <h5>Herd Alert</h5>
          </div>
        </div>
        <br>
        <div class="row2">
          <div class="few">
            <div class="color">
            </div>
            <h5>A Few People</h5>
          </div>
          <div class="crowded">
            <div class="color">
            </div>
            <h5>Crowded</h5>
          </div>
          <div class="closed">
            <div class="color">
            </div>
            <h5>Closed</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="reviews">
    <h6 class="review-nums">1-10 of 100</h6>
    <button class="btn add-review">Add Review</button>
    <hr>
    <div class="listings span8">

    <div class="listing">
      <div class="rank">
        <h4>1.</h4>
      </div>
      <div class="info"> 
        <h4 class="title">Steve S.</h4>
        <div class="rating">
          <div class="stars">
            <img src="images/star-icon.png">
            <img src="images/star-icon.png">
            <img src="images/star-icon.png">
            <img src="images/star-icon-half.png">
            <img src="images/star-icon-empty.png">
          </div>
        </div>
      </div>
      <p>Tesora = King of Coffee</p>
      <hr>
    </div>

    <div class="listing">
      <div class="rank">
        <h4>2.</h4>
      </div>
      <div class="info"> 
        <h4 class="title">Jack O.</h4>
        <div class="rating">
          <div class="stars">
            <img src="images/star-icon.png">
            <img src="images/star-icon.png">
            <img src="images/star-icon.png">
            <img src="images/star-icon-half.png">
            <img src="images/star-icon-empty.png">
          </div>
        </div>
      </div>
      <p>The only coffee shop were ordering a black coffee is seen as a faux paus.</p>
      <hr>
    </div>

    <div class="listing">
      <div class="rank">
        <h4>3.</h4>
      </div>
      <div class="info"> 
        <h4 class="title">Whiny B.</h4>
        <div class="rating">
          <div class="stars">
            <img src="images/star-icon.png">
            <img src="images/star-icon.png">
            <img src="images/star-icon.png">
            <img src="images/star-icon-half.png">
            <img src="images/star-icon-empty.png">
          </div>
        </div>
      </div>
      <p>Worth the hyp.  Mint leaves in my mint coffe make me happy.  Afterwards I get a coffee headache.</p>
      <hr>
    </div>

    <div class="more">
      <a>More Results</a>
    </div>
  </div>

  <div class="side-col span4">
    <div class="map">MAP</div>
  </div>

  </div>

</div>
