<div id="spot-page">

  <div class="title-bar clearfix">
    <div class="main-col">
      <h2>Philz Coffee</h2>
      <h4>101 Forest Ave.</h4>
      <h4>Palo Alto, CA 94301</h4>
      <div class="rating">
        <div class="stars">
          <img src="images/star-icon.png">
          <img src="images/star-icon.png">
          <img src="images/star-icon.png">
          <img src="images/star-icon-half.png">
          <img src="images/star-icon-empty.png">
        </div>
        <div class="review-count">75 Reviews</div>
      </div>
      <div class="spot-types">
        <div class="type">
          <img class="b4cm-icon" src="../images/b4cm-icon-study.png">
          <div class="type-text">Study</div>
        </div>
        <div class="type">
          <img class="b4cm-icon" src="../images/b4cm-icon-food.png">
          <div class="type-text">Food</div>
        </div>
        <div class="type">
          <img class="b4cm-icon" src="../images/b4cm-icon-social.png">
          <div class="type-text">Social</div>
        </div>
      </div>
    </div>

    <div class="side-col">
      <div class="map">
        Map
      </div>
    </div>
  </div>
  <hr>

  <div class="visualize">
    <div class="crowd-factor">
      <h3>Crowd Factor: <span class="current-time empty">Tuesday, 11pm</span></h3>
      <h4>73 Watchers</h4>
      <button type="button" class="btn">Add Herd Watch</button>
      <div class="crowd-visuals">
        <div class="timeslot">
          <h5>Morning</h5>
          <table class="morning-table">
            <tr>
              <th></th>
              <th>5</th>
              <th>6</th>
              <th>7</th>
              <th>8</th>
              <th>9</th>
              <th>10</th>
            </tr>
            <tr class="monday-row">
              <td>M</td>
              <td class="closed-square"></td>
              <td class="empty-square"></td>
              <td class="few-square"></td>
              <td class="herd-square"></td>
              <td class="ave-square"></td>
              <td class="ave-square"></td>
            </tr>
            <tr class="tuesday-row">
              <td>Tu</td>
              <td class="closed-square"></td>
              <td class="empty-square"></td>
              <td class="few-square"></td>
              <td class="herd-square"></td>
              <td class="ave-square"></td>
              <td class="ave-square"></td>
            </tr>
            <tr class="wednesday-row">
              <td>W</td>
              <td class="closed-square"></td>
              <td class="empty-square"></td>
              <td class="few-square"></td>
              <td class="herd-square"></td>
              <td class="few-square"></td>
              <td class="ave-square"></td>
            </tr>
            <tr class="thursday-row">
              <td>Th</td>
              <td class="closed-square"></td>
              <td class="empty-square"></td>
              <td class="ave-square"></td>
              <td class="herd-square"></td>
              <td class="crowded-square"></td>
              <td class="ave-square"></td>
            </tr>
            <tr class="friday-row">
              <td>F</td>
              <td class="closed-square"></td>
              <td class="empty-square"></td>
              <td class="ave-square"></td>
              <td class="crowded-square"></td>
              <td class="herd-square"></td>
              <td class="crowded-square"></td>
            </tr>
            <tr class="saturday-row">
              <td>Sa</td>
              <td class="closed-square"></td>
              <td class="empty-square"></td>
              <td class="empty-square"></td>
              <td class="ave-square"></td>
              <td class="crowded-square"></td>
              <td class="herd-square"></td>
            </tr>
            <tr class="sunday-row">
              <td>Su</td>
              <td class="closed-square"></td>
              <td class="empty-square"></td>
              <td class="empty-square"></td>
              <td class="few-square"></td>
              <td class="few-square"></td>
              <td class="ave-square"></td>
            </tr>
          </table>
        </div>
        <div class="timeslot">
          <h5>Afternoon</h5>
          <table class="afternoon-table">
            <tr>
              <th></th>
              <th>11</th>
              <th>12</th>
              <th>1</th>
              <th>2</th>
              <th>3</th>
              <th>4</th>
            </tr>
            <tr class="monday-row">
              <td>M</td>
              <td class="empty-square"></td>
              <td class="few-square"></td>
              <td class="ave-square"></td>
              <td class="herd-square"></td>
              <td class="herd-square"></td>
              <td class="crowded-square"></td>
            </tr>
            <tr class="tuesday-row">
              <td>Tu</td>
              <td class="empty-square"><img class="marker" src="../images/star-icon.png"></td>
              <td class="few-square"></td>
              <td class="crowded-square"></td>
              <td class="herd-square"></td>
              <td class="crowded-square"></td>
              <td class="crowded-square"></td>
            </tr>
            <tr class="wednesday-row">
              <td>W</td>
              <td class="few-square"></td>
              <td class="ave-square"></td>
              <td class="crowded-square"></td>
              <td class="herd-square"></td>
              <td class="herd-square"></td>
              <td class="crowded-square"></td>
            </tr>
            <tr class="thursday-row">
              <td>Th</td>
              <td class="empty-square"></td>
              <td class="few-square"></td>
              <td class="ave-square"></td>
              <td class="herd-square"></td>
              <td class="crowded-square"></td>
              <td class="herd-square"></td>
            </tr>
            <tr class="friday-row">
              <td>F</td>
              <td class="ave-square"></td>
              <td class="few-square"></td>
              <td class="crowded-square"></td>
              <td class="herd-square"></td>
              <td class="herd-square"></td>
              <td class="crowded-square"></td>
            </tr>
            <tr class="saturday-row">
              <td>Sa</td>
              <td class="ave-square"></td>
              <td class="crowded-square"></td>
              <td class="herd-square"></td>
              <td class="crowded-square"></td>
              <td class="crowded-square"></td>
              <td class="crowded-square"></td>
            </tr>
            <tr class="sunday-row">
              <td>Su</td>
              <td class="few-square"></td>
              <td class="ave-square"></td>
              <td class="ave-square"></td>
              <td class="crowded-square"></td>
              <td class="crowded-square"></td>
              <td class="ave-square"></td>
            </tr>
          </table>
        </div>
        <div class="timeslot">
          <h5>Evening</h5>
          <table class="evening-table">
            <tr>
              <th></th>
              <th>5</th>
              <th>6</th>
              <th>7</th>
              <th>8</th>
              <th>9</th>
              <th>10</th>
            </tr>
            <tr class="monday-row">
              <td>M</td>
              <td class="crowded-square"></td>
              <td class="ave-square"></td>
              <td class="few-square"></td>
              <td class="empty-square"></td>
              <td class="closed-square"></td>
              <td class="closed-square"></td>
            </tr>
            <tr class="tuesday-row">
              <td>Tu</td>
              <td class="crowded-square"></td>
              <td class="ave-square"></td>
              <td class="few-square"></td>
              <td class="empty-square"></td>
              <td class="closed-square"></td>
              <td class="closed-square"></td>
            </tr>
            <tr class="wednesday-row">
              <td>W</td>
              <td class="crowded-square"></td>
              <td class="ave-square"></td>
              <td class="few-square"></td>
              <td class="empty-square"></td>
              <td class="closed-square"></td>
              <td class="closed-square"></td>
            </tr>
            <tr class="thursday-row">
              <td>Th</td>
              <td class="crowded-square"></td>
              <td class="ave-square"></td>
              <td class="few-square"></td>
              <td class="few-square"></td>
              <td class="closed-square"></td>
              <td class="closed-square"></td>
            </tr>
            <tr class="friday-row">
              <td>F</td>
              <td class="crowded-square"></td>
              <td class="ave-square"></td>
              <td class="few-square"></td>
              <td class="few-square"></td>
              <td class="closed-square"></td>
              <td class="closed-square"></td>
            </tr>
            <tr class="saturday-row">
              <td>Sa</td>
              <td class="crowded-square"></td>
              <td class="few-square"></td>
              <td class="few-square"></td>
              <td class="closed-square"></td>
              <td class="closed-square"></td>
              <td class="closed-square"></td>
            </tr>
            <tr class="sunday-row">
              <td>Su</td>
              <td class="ave-square"></td>
              <td class="few-square"></td>
              <td class="few-square"></td>
              <td class="closed-square"></td>
              <td class="closed-square"></td>
              <td class="closed-square"></td>
            </tr>
          </table>
        </div>
        <div class="labels">
          <div class="row1">
            <div class="empty">
              <div class="empty-square color">
              </div>
              <h5>Almost Empty</h5>
            </div>
            <div class="average">
              <div class="ave-square color">
              </div>
              <h5>Average Traffic</h5>
            </div>
            <div class="herd">
              <div class="herd-square color">
              </div>
              <h5>Herd Alert</h5>
            </div>
          </div>
          <br>
          <div class="row2">
            <div class="few">
              <div class="few-square color">
              </div>
              <h5>A Few People</h5>
            </div>
            <div class="crowded">
              <div class="crowded-square color">
              </div>
              <h5>Crowded</h5>
            </div>
            <div class="closed">
              <div class="closed-square color">
              </div>
              <h5>Closed</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 

  <div class="reviews">
    <h6 class="review-nums">1-10 of 100</h6>
    <a ng-href="#/addReview">
      <button class="btn add-review">Add Review</button>
    </a>
    <hr>
    <div class="listings span8">

    <div class="listing">
      <div class="rank">
        <h4>1.</h4>
      </div>
      <div class="info"> 
        <h4 class="title">Steve S.</h4>
        <div class="rating">
          <div class="stars">
            <img src="images/star-icon.png">
            <img src="images/star-icon.png">
            <img src="images/star-icon.png">
            <img src="images/star-icon-half.png">
            <img src="images/star-icon-empty.png">
          </div>
        </div>
      </div>
      <p>Tesora = King of Coffee</p>
      <hr>
    </div>

    <div class="listing">
      <div class="rank">
        <h4>2.</h4>
      </div>
      <div class="info"> 
        <h4 class="title">Jack O.</h4>
        <div class="rating">
          <div class="stars">
            <img src="images/star-icon.png">
            <img src="images/star-icon.png">
            <img src="images/star-icon.png">
            <img src="images/star-icon-half.png">
            <img src="images/star-icon-empty.png">
          </div>
        </div>
      </div>
      <p>The only coffee shop were ordering a black coffee is seen as a faux paus.</p>
      <hr>
    </div>

    <div class="listing">
      <div class="rank">
        <h4>3.</h4>
      </div>
      <div class="info"> 
        <h4 class="title">Whiny B.</h4>
        <div class="rating">
          <div class="stars">
            <img src="images/star-icon.png">
            <img src="images/star-icon.png">
            <img src="images/star-icon.png">
            <img src="images/star-icon-half.png">
            <img src="images/star-icon-empty.png">
          </div>
        </div>
      </div>
      <p>Worth the hyp.  Mint leaves in my mint coffe make me happy.  Afterwards I get a coffee headache.</p>
      <hr>
    </div>

    <div class="more">
      <a>More Results</a>
    </div>
  </div>

  <div class="side-col">
    <div class="find-nearby">
      <h3>Find Nearby:</h3>
      <div class="nearby-type">
        <div class="type-icon"></div>
        <h3>Food</h3>
      </div>
      <div class="nearby-type">
        <div class="type-icon"></div>
        <h3>Study</h3>
      </div>
      <div class="nearby-type">
        <div class="type-icon"></div>
        <h3>Social</h3>
      </div>
    </div>
    <div class="ad">
      Ad Holder
    </div>
  </div>

  </div>

</div>
